/*
/*/
*.log
!/.gitignore
!/.Rbuildignore
!/.gitlab-ci.yml
!/data-raw/
!/DESCRIPTION
!/inst/
/inst/*
!/inst/application/
inst/application/_settings/
!/LICENSE.md
!/man/
!NAMESPACE
!/R/
!/README.md
!/tests/
/.Rhistory
/*.Rproj
/.Rproj*
/.RData
.Rproj.user
!/*.Rproj
!/docker_deployment
/.vscode
!/.lintr
